body{
	font-family: 'Sen', sans-serif;
}

section {
	width: 60%;
	margin: 10px auto;
}
span {
	background-color: rgb(100, 200, 250);
	display: inline-block;
	text-align: center;
	position: relative;
	padding: 12px 50px;
}
nav {
	width: 75%;
	text-align: center;
	margin: 0px auto;
} 

h3{
	background-color: #00BFFF;
}
h1{
	font-family: 'Roboto Mono', monospace;
}
.font2{
	font-family: 'Ubuntu', sans-serif;
}
table{
	background-color: #b0e0e6;
	text-align: center;
	margin: auto;
	font-family: 'Roboto Mono', monospace;
}
table, tr, td{
	border-collapse:collapse;
	border:solid 1px #000000;
}
td{
	width:200px;
	height:300px;	
}
div.container{
	margin: 0 auto 0;
}
.blue{
	color: #4169E1;
}
