body{
	font-family: 'Sen', sans-serif;
}
section {
	width: 60%;
	margin: 10px auto;
}
.right{
	text-align: right;
}
h3{
	background-color: #00BFFF;
}
h1{
	font-family: 'Roboto Mono', monospace;
}
.font2{
	font-family: 'Ubuntu', sans-serif;
}

div.container{
	margin: 0 auto 0;
}
.blue{
	color: #4169E1;
}
span {
	background-color: rgb(100, 200, 250);
	display: inline-block;
	text-align: center;
	position: relative;
	padding: 12px 50px;
}
nav {
	width: 75%;
	text-align: center;
	margin: 0px auto;
}
